.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; 
  padding: 10px;
}

.card {
  width: 300px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 10px;

  img {
    width: 100%;
    height: 300px;
    transition: .4s ease;
    overflow: hidden;
    &:hover {
      transform: rotate(2deg) scale(1.03);
    }
  }

  i {
    display: block;
    margin: 10px 0;
    font-size: 16px;
    color: #555;
  }

  h2 {
    margin: 10px 0;
    font-size: 20px;
    color: #333;
  }
}
