.clients {
    background-color: $white;
    padding: 0 12px;

    .first-text {
        @include childCenter;
        flex-direction: column;
        padding: 10px 0;
        background-color: $white;


        h1 {
            font-weight: 600;
            color: $darkblue;
            font-size: 1.4rem;
        }

        h4 {
            color: $skyblue;
            font-size: 1.2rem;
        }
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 49px 0 100px 0;
    border-radius: 10px;
    background: $white;
    padding: 12 0 190px 0;

    .top-section {
        @media screen and (max-width: 882px) {
            display: grid;
        }

        display: grid;
        grid-template-columns: 20% 50% 30%;
        align-items: center;
        width: 100%;

        @media screen and (max-width: 905px) {
            display: grid;
            width: 100%;

        }



        .image {

            width: 80px;
            height: 80px;
            border-radius: 50%;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;

            }
        }

        span {
            color: $skyblue;
        }

        .titles {
            @media screen and (min-width: 1024px) {

                h1,
                h2 {
                    margin-left: 22px;
                }
            }

            @media screen and (max-width: 817px) {
                margin-left: 10px;

            }

            @media screen and (max-width: 766px) {
                margin-left: 43px;

                h1 {
                    font-weight: 700;
                    font-size: 12px;
                }

            }

            h1,
            h2 {

                line-height: 1.4;
            }

            h2 {
                font-size: 1rem;
                color: #777;
            }
        }
    }

    .spans {
        display: flex;
        width: 100%;
        margin-bottom: 25px;

        span {
            background-color: #eee;
            border-radius: 5px;
            font-size: 0.9rem;
        }
    }

    .paragraph {
        text-align: center;
        color: #333;
        flex-wrap: wrap;
        width: 80%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 12px 0;
    }
}