.mind {
    padding: 30px;
    @include childCenter;
    background: $skyblue;
    flex-direction: column;
    margin: 30px auto;
    font-family: Arial, Helvetica, sans-serif;

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
        height: 100px;
h3{
    letter-spacing: 1.4px;
    font-size: 1.7rem;
}
        p {
            margin: 30px auto;
            font-family: Arial, Helvetica, sans-serif;
            color: wheat;
            text-align: center;
        }
    }

    button {
        font-family: Arial, Helvetica, sans-serif;
        padding: 12px;
        margin: 40px auto;
        border-radius: 12px;
        border: transparent;
        font-weight: 800;
        color: $skyblue;
        background: $white;
    }

}