@import "./settings";
@import "./components/header";
@import "./components/home";
@import "./components/Icons";
@import "./components/AboutMe";
@import "./components/Skills";
@import "./components/Expertise";
@import "./components/parcours";
@import "./components/Offres";
@import "./components/portfolio";
@import "./components/mind";
@import "./components/Clients";
@import "./components/blog";
@import "./components/formm";
@import "./components/footer";